
<div id="wrapper">
	<div id="leftContainer">
		<%= image_tag("phone-medium.png") %>
	</div>
	<!--end leftContainer-->
	<div id="rightContainer">
		<div id="social">
			<span class='st_facebook_large' displayText='Facebook'><%= content_tag(:a, fa_icon("facebook a", text: ""), href: href="http://facebook.com/") %></span>
			<span class='st_facebook_large' displayText='Twitter'><%= content_tag(:a, fa_icon("twitter a", text: ""), href: href="https://twitter.com/roomease_app") %></span>
			<span class='st_facebook_large' displayText='Pinterest'><%= content_tag(:a, fa_icon("pinterest a", text: ""), href: href="http://pinterest.com/") %></span>
		</div>
		<div id="logo"><%= image_tag("logo-550w.png") %></div>





		<!--START FORM-->
		<p class="blurb">
		Easily delegate chores, create shopping lists, keep track of bills, plan shared events in the calendar and send instant messages with the new Roomease app. Our "At Home" feature gives you the ability to see who's home for those unforseen emergencies. Roomease makes everyday living with roommates simple!
		</p>
		<div id="mc_embed_signup">

			<%= form_tag do %>
				<%= text_field_tag(:email, nil, class: 'email', placeholder: 'please enter your email address', required: true) %>
				<div>
					<%= submit_tag("Submit", name: 'subscribe', class: 'smooth-btn submit') %>
				</div>
			<% end %>

		</div>
		<!--End mc_embed_signup-->
		<!--end rightContainer-->
	</div>
</div>